.banner {
  height: 1000px;
  background: #34e89e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #0f3443, #34e89e);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #0f3443, #34e89e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: ivory;
  font-weight: .5; }
  .banner .banner-info {
    margin-top: 170px; }
  .banner .border {
    display: inline-block;
    width: 80%;
    padding: 1px;
    margin: auto 10%;
    background: ivory; }
  .banner h2 {
    margin-bottom: 80px; }
  .banner a {
    font-size: 3em;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px 50px; }

@media (min-width: 120rem) {
  .banner {
    height: 500px; }
    .banner .banner-info {
      margin-top: 100px; }
    .banner h2 {
      margin-bottom: 50px; }
    .banner a {
      font-size: 1em; } }
.summary {
  margin-bottom: 100px; }
  .summary p {
    color: grey;
    margin: 2px auto; }

@media (min-width: 120rem) {
  .summary p {
    font-size: 2em; } }
.skills {
  background-color: #34e89e; }
  .skills .web-dev .grid {
    display: flex; }
    .skills .web-dev .grid .col {
      width: 50%;
      min-width: 100px; }

@media (min-width: 120rem) {
  .skills .col {
    text-align: center;
    margin: 0px auto; }
  .skills p {
    font-size: 0.5em;
    margin: 0px auto; } }
.education {
  margin-bottom: 100px; }
  .education .edu-year {
    background: #34e89e;
    padding: 5px 30px; }
  .education .edu-head {
    margin: 20px 5% 0px 5%;
    padding: 20px 10px;
    background: #34e89e; }
  .education .edu-info {
    margin: 0px 5% 20px 5%;
    padding: 10px 20px 50px 20px;
    background: lightgrey; }
    .education .edu-info p {
      margin: 0px; }
  .education h4 {
    font-size: 40px; }

@media (min-width: 120rem) {
  .education {
    margin-bottom: 0px; }
    .education .col {
      width: 50%; }
    .education .edu-year {
      font-size: 0.5em; }
    .education .edu-info {
      font-size: 0.5em; } }
.employment {
  margin-bottom: 100px; }
  .employment .emp-year {
    background: #34e89e;
    padding: 5px 30px; }
  .employment .emp-head {
    margin: 20px 5% 0px 5%;
    padding: 20px 10px;
    background: #34e89e; }
  .employment .emp-info {
    margin: 0px 5% 20px 5%;
    padding: 10px 20px 50px 20px;
    background: lightgrey; }
    .employment .emp-info p {
      margin: 0px; }
  .employment h4 {
    font-size: 40px; }

@media (min-width: 120rem) {
  .employment {
    margin-bottom: 0px; }
    .employment .col {
      width: 50%; }
    .employment .emp-year {
      font-size: 0.5em; }
    .employment .emp-info {
      font-size: 0.5em; } }
.projects {
  margin-bottom: 100px;
  background-color: #0f3443;
  color: white; }
  .projects .border {
    background: white; }
  .projects .col {
    margin-top: 20px; }
  .projects p {
    margin-top: 10px; }
  .projects a {
    text-decoration: none;
    color: white;
    border: 5px solid white;
    border-radius: 15px;
    padding: 30px;
    margin: 10px; }

@media (min-width: 120rem) {
  .projects p {
    font-size: 0.5em;
    margin: 10px 10px; }
  .projects a {
    font-size: 30px;
    padding: 10px;
    border: 3px solid white; } }
.contact {
  margin-bottom: 30px; }
  .contact a {
    color: black;
    text-decoration: none; }
  .contact .links {
    letter-spacing: 10px;
    font-size: 3em;
    margin: 0; }
  .contact .fa {
    padding: 20px;
    margin: 0px 10px; }

@media (min-width: 120rem) {
  .contact .resume {
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 50px; }
  .contact .divider {
    margin-top: 30px; }
  .contact p {
    font-size: 2em; } }
body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  text-align: center; }

.border {
  width: 90%;
  padding: 1px;
  margin: 30px 5%;
  background: black; }

.container {
  padding: 10px; }

.col {
  font-size: 56px;
  padding-bottom: 30px; }

footer {
  background-color: #34e89e;
  padding: 30px; }

@media (min-width: 120rem) {
  h1 {
    font-size: 4em;
    letter-spacing: 10px; }

  h2 {
    font-size: 2em; }

  h4 {
    font-size: 0.5em; }

  h5 {
    font-size: 0.6em; }

  .grid {
    display: flex; }

  .col {
    width: 33%;
    min-width: 200px; } }

/*# sourceMappingURL=main.css.map */
