@import 'colors';


.education {
  margin-bottom: 100px;

  .edu-year {
    background: $gradient-top;
    padding: 5px 30px;
    font-size: 4.5rem;
  }

  .edu-head {
    margin: 20px 5% 0px 5%;
    // margin-bottom: 0px;
    padding: 20px 10px;
    // padding-bottom: 10px;
    background: $gradient-top;
  }

  .edu-info {
    margin: 0px 5% 20px 5%;
    // margin-top: 0px;
    padding: 10px 20px 50px 20px;
    background: lightgrey;

    p {
      font-size: 3rem;
      margin: 0px;
    }
  }
}

// Larger than tablet
@media (min-width: 750px) {

}
