.contact {
  padding: 30px 0px;

  p {
    font-size: 2rem;
  }
  span {
    font-size: 2rem;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
  }
  a {
    color: black;
    text-decoration: none;
  }
  .links {
    letter-spacing: 10px;
    font-size: 3em;
    margin: 0;
  }

  .fa {
    padding: 20px;
    margin: 0px 10px;
  }
}

// Larger than tablet
@media screen and (min-width: 750px) {
  .contact {
    p {
      margin-bottom: 0rem;
    }
  }
}
