.contact {
  margin-bottom: 30px;

  p {
    font-size: 3rem;
  }
  span {
    font-size: 3rem;
  }
  a {
    color: black;
    text-decoration: none;
  }
  .links {
    letter-spacing: 10px;
    font-size: 3em;
    margin: 0;
  }

  .fa {
    padding: 20px;
    margin: 0px 10px;
  }
}

// Larger than tablet
@media (min-width: 750px) {

}
