@import 'colors';


.education {
  margin-bottom: 100px;

  .edu-year {
    background: $gradient-top;
    padding: 5px 30px;
  }

  .edu-head {
    margin: 20px 5% 0px 5%;
    // margin-bottom: 0px;
    padding: 20px 10px;
    // padding-bottom: 10px;
    background: $gradient-top;
  }

  .edu-info {
    margin: 0px 5% 20px 5%;
    // margin-top: 0px;
    padding: 10px 20px 50px 20px;
    background: lightgrey;

    p {
      margin: 0px;
    }
  }
}

// Desktop
@media (min-width: 120.0rem) {
  .education {
    margin-bottom: 0px;

    .edu-year {
      font-size: 0.5em;
    }

    .edu-info {
      font-size: 0.5em;
    }
  }
}
