@import 'colors';

.employment {
  padding: 30px 0px;

  .emp-year {
    background: $gradient-top;
    padding: 5px 30px;
    font-size: 1.5rem;
  }

  .emp-head {
    margin: 20px 5% 0px 5%;
    // margin-bottom: 0px;
    padding: 20px 10px;
    // padding-bottom: 10px;
    background: $gradient-top;
  }

  .emp-info {
    margin: 0px 5% 20px 5%;
    // margin-top: 0px;
    padding: 10px 20px 50px 20px;
    background: lightgrey;

    p {
      font-size: 2rem;
      margin: 0px;
    }
  }
}

// Larger than tablet
@media screen and (min-width: 750px) {
  .employment {
    .emp-info {
      p {
        font-size: 1.5rem;
      }
    }
  }
}
