.projects {
  margin-bottom: 100px;
  background-color: $gradient-bottom;
  color: white;

  .border {
    background: white;
  }

  .col {
    margin-top: 20px;
  }

  p {
    margin-top: 10px;
  }
  a {
    text-decoration: none;
    color: white;
    border: 5px solid white;
    border-radius: 15px;
    padding: 30px;
    margin: 10px;
  }
}

// Desktop
@media (min-width: 721px) {
  .projects {
    p {
      font-size: 0.5em;
      margin: 10px 10px;
    }

    a {
      font-size: 30px;
      padding: 10px;
      border: 3px solid white;
    }
  }
}
