@import 'colors';

.projects {
  margin-bottom: 100px;
  background-color: $gradient-bottom;
  color: white;

  .project {
    margin-bottom: 5px;
    p {
      margin-top: 10px;
      font-size: 2.5rem;
    }
    a {
      font-size: 2rem;
      text-decoration: none;
      color: white;
      border: 5px solid white;
      border-radius: 15px;
      padding: 30px;
      margin: 10px;
    }
  }

  .border {
    background: white;
  }

}

// Larger than tablet
@media (min-width: 750px) {

}
