@import 'colors';

.projects {
  padding: 30px 0px;
  background-color: $gradient-bottom;
  color: white;

  .project {
    margin-bottom: 20px;
    p {
      margin-top: 10px;
      font-size: 1.5rem;
    }
    a {
      font-size: 1.5rem;
      text-decoration: none;
      color: white;
      border: 2px solid white;
      border-radius: 15px;
      padding: 10px;
      margin: 10px;
    }
  }

  .border {
    background: white;
  }

}

// Larger than tablet
@media screen and (min-width: 750px) {
 .projects {
   padding-top: 15px;
   .project {
     p {
       font-size: 1.5rem;
     }
     a {
       font-size: 1.5rem;
       border: 2px solid white;
     }
   }
 }
}
