.summary {
  margin-top: 30px;
  margin-bottom: 100px;
  p {
    font-size: 4rem;
    color: grey;
    margin: 2px auto;
  }
}

// Larger than tablet
@media screen and (min-width: 750px) {
 .summary {
   margin-top: 15px;
   margin-bottom: 20px;
   p {
     font-size: 2rem;
   }
 }
}
