@import 'colors';
@import 'banner';
@import 'summary';
@import 'skills';
@import 'education';
@import 'employment';
@import 'projects';
@import 'contact';

body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 8rem;
  letter-spacing: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 0px;
}

h2 {
  font-size: 4rem;
}

h3 {
  margin: 30px;
  text-transform: uppercase;
  letter-spacing: 30px;
  font-size: 70px;
}

h4 {
  margin: 0;
  font-size: 80px;
}

h5 {
  margin: 0;
}

.border {
  width: 90%;
  padding: 1px;
  margin: 30px 5%;
  background: black;
}

.container {
  padding: 10px;
}

.grid {

}

.col {
  font-size: 56px;
  padding-bottom: 30px;
}

footer {
  background-color: $gradient-top;
  padding: 30px;
}

// For desktop
@media (min-width: 721px) {

  h1 {
    font-size: 4em;
    letter-spacing: 10px;
  }

  h2 {
    font-size: 2em;
  }

  h4 {
    font-size: 0.5em;
  }

  h5 {
    font-size: 0.6em;
  }

  .grid {
    display: flex;
  }

  .col {
    width: 33%;
    min-width: 200px;

  }
}
