@import 'colors';
@import 'banner';
@import 'summary';
@import 'skills';
@import 'education';
@import 'employment';
@import 'projects';
@import 'contact';

body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: 10rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  text-transform: uppercase;
  font-size: 8rem;
  letter-spacing: 25px;
}

h4 {
  font-size: 4rem;
}

h5 {
  font-size: 3.5rem;
  margin: 0px;
}

.border {
  width: 90%;
  padding: 1px;
  margin: 30px 5%;
  background: black;
}

footer {
  background-color: $gradient-top;
  padding: 30px;
}

// Larger than tablet
@media (min-width: 750px) {

}
