@import 'colors';
@import 'banner';
@import 'summary';
@import 'skills';
@import 'education';
@import 'employment';
@import 'projects';
@import 'contact';

body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  text-align: center;
}

.border {
  width: 90%;
  padding: 1px;
  margin: 30px 5%;
  background: black;
}

footer {
  background-color: $gradient-top;
  padding: 30px;
}

// For desktop
@media (min-width: 120.0rem) {

  .grid {
    display: flex;
  }

  .col {
    width: 33%;
    min-width: 200px;
  }
}
